<label>Search</label>
<input type="text" value="Doe" />

<h3>Search Results</h3>
<div class="list-group">
    <!-- <search-result person-object="person" formatted-address-function="formattedAddress(aperson)" ng-repeat="person in people"></search-result> -->
    <!-- <search-result2 person-object="person" formatted-address-function="formattedAddress(aperson)" ng-repeat="person in people"></search-result2> -->
    <search-result3 person-object="person" formatted-address-function="formattedAddress(aperson)" ng-repeat="person in people"></search-result3>
</div>